/**********************************************TAG SELECTORS**********************************************************/
body {
    margin: 0;
    text-align: center;
}

h1 {
    color: #66BFBF;
}

h3 {
    color: #66BFBF;
}

hr {
    border-style: none;
    border-top-style: dotted;
    border-color: gray;
    border-width: 5px;
    width: 3%;
}

/**********************************************CLASS SELECTORS**********************************************************/
.top-container {
    background-color: #E4F9F5;
    position: relative;
    padding-top: 100px;
}

.top-cloud {
    position: absolute;
    right: 32%;
    top: 50px;
}

.bottom-cloud {
    position: absolute;
    left: 32%;
    bottom: 300px;
}